body
{
    color : #333;
    background-color: #000;
}

#administratifBDS
{
    position : absolute;
    top : 334px;
    left : 50%;
    margin-left : -425px;
    background-color: white;
    width : 850px;
    height : auto;
    padding-bottom: 50px;
}

#administratifBDS h3
{
	postion : relative;
	float : left;
	margin-top : 5px;
	margin-left : 250px;
	margin-bottom : 10px;
	font-size : 30px;
}

#sports_vp
{
	position : relative;
	float : left;
	margin-top : 10px;
	margin-left : 5px;
	width: 670px;
}

#listeSport_Vp
{
	position : relative;
	float : left;
	margin-left: 5px;
}

.infoEtudiant
{
	position : relative;
	float : left;
	margin-top : 10px;
	margin-left: 25px;
	width : 200px;
	border : 1px solid black;
	display : none;
}

.infoEtudiant h5
{
	margin-top : 0px;
	padding: 2px;
	text-align: center;
	border : 1px solid blue;
	color : white;
	background-color: navy; 
	margin-bottom : 0px;
}

#administratifBDS table
{
	border-collapse: collapse;
	margin-top : 10px;
}
#administratifBDS td
{
	border : 1px solid black;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
#administratifBDS th
{
	background-color: navy;
	color : white;
}
#administratifBDS tbody tr:nth-child(odd)
{
	background-color: silver;
}

.info
{
	cursor : pointer;	
}

.oui
{
	color : green;
}
.non
{
	color : red;
}