#calendrier {
	position: relative;
	float: left;
	left: 50%;
	margin-left: -312.5px;
	border: 1px solid black;
	border-radius: 10px;
	width: 600px;
	padding: 5px;
	background-color: green;
}

.month {
	position: float;
	float: left;
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 1px grey;
	padding: 2px;
}

.month table {
	border-collapse: collapse;
}

.month table td {
	border: 1px solid black;
	width: 40px;
	height: 40px;
	margin: 0px;
	padding: 0px;
}

.month table .padding {
	border: none;
}

.month table td:hover {
	background-color: silver;
}

.month table td .relative {
	position: relative;
	float: right;
	right: 0px;
	bottom: -15px;
	font-size: 15px;
}

.jour {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 300px;
	height: auto;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 1px grey;
	margin-left: 5px;
	padding-top: 3px;
	background-color: white;
	display: none;
}

.month table td .events {
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}

.events ul {
	margin: 0px;
	padding: 0px;
}

.events ul li {
	display: inline-block;
	position: relative;
	top: -10px;
	margin: 0px;
	padding: 0px;
}

caption {
	color: navy;
}

th {
	color: grey;
}

h1 {
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	color: navy;
}