body {
	color: #333;
	background-color: #000;
}

section {
	position: absolute;
	top: 334px;
	left: 50%;
	margin-left: -425px;
	background-color: white;
	width: 850px;
	height: auto;
	padding-bottom: 60px;
	margin-bottom: 0px;
}

#connexion {
	position: relative;
	left: 50%;
	margin-top: 60px;
	margin-left: -200px;
	text-align: center;
	width: 400px;
}