<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>AuthenEtudiantFilter</filter-name>
    <filter-class>bds.devweb.filters.AuthenEtudiantFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenEtudiantFilter</filter-name>
    <servlet-name>FicheEtudiant</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>AuthenVpFilter</filter-name>
    <filter-class>bds.devweb.filters.AuthenVpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenVpFilter</filter-name>
    <servlet-name>FicheVP</servlet-name>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>bds.devweb.controllers.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FicheEtudiant</servlet-name>
    <servlet-class>bds.devweb.controllers.FicheEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheEtudiant</servlet-name>
    <url-pattern>/ficheetudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FicheVP</servlet-name>
    <servlet-class>bds.devweb.controllers.FicheVPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FicheVP</servlet-name>
    <url-pattern>/fichevp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Equipe</servlet-name>
    <servlet-class>bds.devweb.controllers.EquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipe</servlet-name>
    <url-pattern>/equipe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterSeance</servlet-name>
    <servlet-class>bds.devweb.controllers.AjouterSeanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterSeance</servlet-name>
    <url-pattern>/ajouterseance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Participer</servlet-name>
    <servlet-class>bds.devweb.controllers.ParticiperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Participer</servlet-name>
    <url-pattern>/participer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PresenceChallenge</servlet-name>
    <servlet-class>bds.devweb.controllers.PresenceChallengeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresenceChallenge</servlet-name>
    <url-pattern>/presencechallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterChallenge</servlet-name>
    <servlet-class>bds.devweb.controllers.AjouterChallengeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterChallenge</servlet-name>
    <url-pattern>/ajouterchallenge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterAdresse</servlet-name>
    <servlet-class>bds.devweb.controllers.AjouterAdresseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAdresse</servlet-name>
    <url-pattern>/ajouteradresse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilBDS</servlet-name>
    <servlet-class>bds.devweb.controllers.AccueilBDSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilBDS</servlet-name>
    <url-pattern>/accueilbds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoterVP</servlet-name>
    <servlet-class>bds.devweb.controllers.NoterVPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoterVP</servlet-name>
    <url-pattern>/notervp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChallengeBDS</servlet-name>
    <servlet-class>bds.devweb.controllers.ChallengeBDSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChallengeBDS</servlet-name>
    <url-pattern>/challengebds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SportBDS</servlet-name>
    <servlet-class>bds.devweb.controllers.SportBDSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SportBDS</servlet-name>
    <url-pattern>/sportbds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministratifBDS</servlet-name>
    <servlet-class>bds.devweb.controllers.AdministratifBDSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratifBDS</servlet-name>
    <url-pattern>/administratifbds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RechercherIdEtudiant</servlet-name>
    <servlet-class>bds.devweb.controllers.RechercherIdEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercherIdEtudiant</servlet-name>
    <url-pattern>/rechercheridetudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>bds.devweb.controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>bds.devweb.controllers.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>bds.devweb.controllers.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
</web-app>